body {
    background: #FFF;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}
@font-face {
    font-family: Cyrulik Rounded;
    src: url('/font/cyrulik-rounded-regular.otf');
}
h1 {
    font-size: 55px;
}
header {
    max-height: 99px;
}
/* header .col-lg-10.offset-lg-1 {
    display: contents;
} */
.bluedefault {
    background: #5969F6;
}
header a.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
/* @media (min-width: 768px) {
    header .navbar-expand-md .navbar-collapse {
        display: -moz-inline-box!important;
        display: -webkit-inline-box!important;
    }
} */
header h1, header h3 {
    font-family: Cyrulik Rounded;
    margin: 0;
}
header a {
    color: #FFF!important;
}
header a:hover {
    color: #707070!important;
}
header a.nav-link.custom {
    text-transform: uppercase;
}
header ul.navbar-nav.ml-auto {
    margin-right: 3vw;
}
header ul.nav-social {
    flex-direction: inherit;
}
header .navbar-collapse.collapse.show ul.nav-social {
    margin-top: 1rem;
    margin-bottom: 8px;
}
header ul li .fa-twitter {
    padding: 0 16px;
}
header ul.link-list li {
    padding: 0 14px;
}
section.section1 {
    background-color: #5969F6;
}
section .img-bg {
    /* margin-top: -100px; */
    height: 670px;
    background-color: #5969F6;
    background-image: url(/img/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -19vw -19vh;
    background-clip: border-box;
    background-size: cover;
} 
section .container.c1 div.col-lg-5.offset-lg-1 {
    margin-top: 250px;
}
.btn-start {
    font-weight: 700;
    color: #FFF;
    font-size: 20px;
    padding: 10px 75px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #6BC1FF;
    border: 1px solid #6BC1FF;
}
.btn-start:hover {
    color: #353f93;
    text-decoration: none;
    border: 1px solid #353f93;
}
.btn-start.btn-port {
    padding: 10px 46px;
    background: transparent;
    border: 1px solid #FFF;
}
.btn-start.btn-port:hover {
    border: 1px solid #353f93;
}
.mtop-2 {
    margin-top: -2rem!important;
}
.mtop-4 {
    margin-top: -4rem!important;
}
.mtop-10 {
    margin-top: -10rem!important;
}
section.section-padding {
    padding-top: 130px!important;
}

section.section2 .start{
    padding-top: 99px;
}
section.section2 hr {
    width: 40%;
    border: 5px solid #5969F6;
    border-radius: 5px;
}
.hr-right {
    margin-right: inherit;
}
.hr-left {
    margin-left: 0;
}
div.col-8.balao.bg-white {
    padding-right: 10px;
    padding-left: 10px;
}
.owl-carousel .owl-item img {
    max-height: 70px;
    max-width: 90px;
    padding: 0 10px 10px 20px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 25px!important;
}
.balao {
	background: #FFF;
	border-radius: 15px;
    position: relative;
}
.balao:after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 50px solid transparent;
	/* border-right: 50px solid transparent; */
	border-top: 50px solid #FFF;
	left: -48px;
	top: 20%;
}
.balao h3, h4 {
    margin: 0;
}
.balao h3 {
    font-size: 1.6rem;
}
.balao h4 {
    font-size: 1.15rem;
    color: #5969F6;
}
.balao p {
    margin-top: 8px;
}
.balao i {
    color:#6BC1FF;
}